<%= @product.inspect %>
<p><%= @products %> </p>
<%= form_for @product do |f| %>
	<p><%= f.label :name %></p>
	<%= f.text_field :name %></br>
	
	<p><%= f.label :description, 'Description' %></p>
	<%= f.text_area :description, :size =>'40x5' %></br>

	<%= f.label :image %>
	<%= f.file_field :image %>
	
	<p><%= f.label :price %></p>
	<%= f.text_field :price %>
	
	<%= f.submit  %>
	

<%end %>
<p><%= button_to  "Delete Product" ,product_path(@product), :method => 'delete'%></p>

