<%= form_for @product, html: {multipart: true} do |f| %>
	
	<p><%= f.label :name %></p>
	<%= f.text_field :name %></br>

	<p><%= f.label :description, 'Description of your item' %></p>
	<%= f.text_area :description, :size =>"40x5" %></br>

	<p><%= f.label :image %>
	<%= f.file_field :image %></br>

	<%= f.submit 'Create Product' %>

	
<% end %>

