<h3><%= @product.name %> </h3>
<div class="row">
	<div class='col-md-4'>
		<%= image_tag @product.image.url(:thumb), class: 'product_image'%>
		<p>Description: <%= @product.description %></p>
		<p>Price: <%= @product.price%></p>	
	</div>
		
	<div class="">
		Description: <%= @product.lg_desc %>
	</div>
	<div class="item_count">
		<%= form_for current_cart do |f| %>
			<%= f.hidden_field :product_id, value: @product.id %>
			<%= f.submit 'Add to Cart' %>
		<% end %>
	
		<div class='item-count'>
			<%= "#{current_cart.count} items selected" %>
			<!--  <%= pluralize current_cart.count,'' %> -->
		</div>
		<% if current_cart.count > 0 %>
		<%= link_to "edit cart", edit_cart_path(current_cart)%>
		<% end %>
	</div>
</div>
<p><%= link_to 'New product', new_product_path %></p>
<%= link_to 'Edit product', edit_product_path(@product) %>
